@model Usuarios

@{
    ViewData["Titel"] = "Login";
}


<br>
<form method="post" asp-action="Login">
    <h2 class="login">Login</h2>
    <p>
        <label asp-for="Email" class="txtlogin">E-mail: </label>
        <input asp-for="Email" class="box" placeholder="Seu E-mail" required>
    </p>
    <br>
    <p>
        <label asp-for="Senha" class="txtlogin">Senha: </label>
        <input asp-for="Senha" type="password" class="box" placeholder="Sua senha" required>
    </p>
    
    <br>
    <p>
        <input type="submit" value="Entrar" class="entrar">
    </p>
    
</form>
<br>
<p>
        @ViewBag.mensagem
</p>

 <footer class="text-muted">
            <div class="container txtcopy navbar-dark bg-light border-bottom box-shadow">
              &copy; 2022 - Sirena Cométicos -
            </div>
 </footer>