<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="site.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <title>Sirena Cosméticos</title>
    </head>
    <body style="background-color: rgb(253,167,239);">
        <header>
           <br>
        </header>
        <main>
  
        </main>
        <footer class="text-muted">
            <div class="container txtcopy navbar-dark bg-light border-bottom box-shadow">
              &copy; 2022 - Sirena Cométicos -
            </div>
        </footer>
    </body>